/* header */
header{
    font-size: 1.6rem !important;
    background-color: rgba(255, 255, 255, 0.1) !important;
}
.navbar .navbar-brand{
    color: #fff;
}
.navbar .navbar-nav{
    width: 100%;
    justify-content: center;
}
.navbar-collapse .navbar-nav .nav-item .nav-link{
    padding: 0 2.4rem;
    color: rgba(255, 255, 255, 1);
}
.navbar-toggler{
    border : none;
}