/* common */
html{
	font-size: 62.5%;
}
body{
	font: 1.6rem "Noto Sans KR", sans-serif !important;
	color: #333;
}
img{
	vertical-align: top;
}
li{
	list-style: none;
}
a{
	text-decoration: none;
	color: #333;
}
h2{
	position: absolute;
	left: -9999px;
	font-size: 0;
	width: 0;
	height: 0;
	overflow: hidden;
}
ul:after, .wrap:after, .cl:after{
	content: ""; clear: both; display: block;
}


.container-wrap{
	width: 1400px; margin: 0 auto; position: relative;
}
div[class^="container-"]{
	position: relative;
}